*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient( rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("../img/BACK.avif");
    background-size: cover;
    width: 100%;
}
.main{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
.main h1{   
    padding-top: 200px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 900;
    margin: 0 50px;
}
.main p{   
    padding: 50px 0;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    font-size: rem;
    font-weight: 400;
    margin: 0 50px;
    height: fit-content;
}
.main-button{
    border: none;
    padding: 10px 45px;
    background-color: rgb(187, 255, 252);
    cursor: pointer;
    border-radius: 10px;
    margin-left: 50px;
}
.not-main-button{
    border: none;
    padding: 10px 45px;
    background-color: rgb(187, 255, 252);
    cursor: pointer;
    border-radius: 10px;
    margin-right: 50px;
}
.input-block input{
    padding: 8px;
    width: 97%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.red-button{
    border: none;
    padding: 10px 45px;
    background-color: red;
    cursor: pointer;
    border-radius: 10px;
}
.green-button{
    border: none;
    padding: 10px 45px;
    margin: 10px 0 ;
    background-color: rgb(51, 255, 0);
    cursor: pointer;
    border-radius: 10px;
}
#modal, #moda{
    margin: 0 auto;
    top:20%;
    left: 12%;
    width: 75%;
    position: absolute;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: none;
}
h2{
    padding: 20px 0;
    margin-bottom: 30px;
}
#layer{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    height: 100vh;
}